In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [2]:
#connect to local db
engine = create_engine("mysql://root:Password@127.0.0.1/DCDATA_DB")
rds_connection_string = "root:Password@127.0.0.1/DCDATA_db?charset=utf8"

In [3]:
#check table names
engine.table_names()

['CRIME', 'CRIMES', 'PARKING']

In [4]:
#load parking ticket csv
csv_file = "Resources/Parking_Violations_DC_2018.csv"
dcparking_df = pd.read_csv(csv_file)
dcparking_df.head()

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,13,14,15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,X,Y,OBJECTID,ROWID_,DAY_OF_WEEK,HOLIDAY,WEEK_OF_YEAR,MONTH_OF_YEAR,ISSUE_TIME,VIOLATION_CODE,VIOLATION_DESCRIPTION,LOCATION,RP_PLATE_STATE,BODY_STYLE,ADDRESS_ID,STREETSEGID,XCOORD,YCOORD,TICKET_ISSUE_DATE
0,-76.9932,38.8876,4203048,NaN,NaN,NaN,NaN,NaN,NaN,P173,NO PARKING STREET CLEANING,1000 BLOCK INDEPENDENCE AVE SE S*,DC,NaN,811124,9532,400590,135528,2018-04-04T00:00:00.000Z
1,-77.0189,38.8967,4203049,NaN,NaN,NaN,NaN,NaN,NaN,P259,NO STOPPING OR STANDING IN PM RUSH HOUR ZONE,600 BLOCK 5TH ST NW EAST SIDE,VA,NaN,805251,4503,398358,136543,2018-04-04T16:08:00.000Z
2,-77.0109,38.9072,4203050,NaN,NaN,NaN,NaN,NaN,NaN,P173,NO PARKING STREET CLEANING,UNIT BLOCK N ST NW NORTH SIDE,DC,NaN,806117,5250,399058,137709,2018-04-04T10:04:00.000Z
3,-77.0786,38.9127,4203051,NaN,NaN,NaN,NaN,NaN,NaN,P198,PARK WITHIN 20 FEET OF A BUS STOP OR ZONE,3900 BLOCK RESERVOIR RD NW SOUTH*,MD,NaN,812695,10916,393186,138317,2018-04-04T16:31:00.000Z
4,-77.0418,38.9233,4203052,NaN,NaN,NaN,NaN,NaN,NaN,P281,FAIL TO DISPLAY A MULTISPACE METER RECEIPT,1700 BLOCK COLUMBIA RD NW SOUTH *,MA,NaN,800405,339,396379,139491,2018-04-04T19:22:00.000Z

In [5]:
#use pandas to load csv to database
dcparking_df.to_sql(name='PARKING', con=engine, if_exists='replace', index=False)

In [6]:
#confirm data loaded successfully
pd.read_sql_query('select * from PARKING', con=engine).head(5)

,X,Y,OBJECTID,ROWID_,DAY_OF_WEEK,HOLIDAY,WEEK_OF_YEAR,MONTH_OF_YEAR,ISSUE_TIME,VIOLATION_CODE,VIOLATION_DESCRIPTION,LOCATION,RP_PLATE_STATE,BODY_STYLE,ADDRESS_ID,STREETSEGID,XCOORD,YCOORD,TICKET_ISSUE_DATE
0,-76.993201829703,38.88760034879,4203048,None,None,None,None,None,None,P173,NO PARKING STREET CLEANING,1000 BLOCK INDEPENDENCE AVE SE S*,DC,None,811124,9532,400590,135528,2018-04-04T00:00:00.000Z
1,-77.0189307155777,38.8967425107048,4203049,None,None,None,None,None,None,P259,NO STOPPING OR STANDING IN PM RUSH HOUR ZONE,600 BLOCK 5TH ST NW EAST SIDE,VA,None,805251,4503,398358,136543,2018-04-04T16:08:00.000Z
2,-77.0108629472506,38.9072472840597,4203050,None,None,None,None,None,None,P173,NO PARKING STREET CLEANING,UNIT BLOCK N ST NW NORTH SIDE,DC,None,806117,5250,399058,137709,2018-04-04T10:04:00.000Z
3,-77.07856940182,38.9126984450469,4203051,None,None,None,None,None,None,P198,PARK WITHIN 20 FEET OF A BUS STOP OR ZONE,3900 BLOCK RESERVOIR RD NW SOUTH*,MD,None,812695,10916,393186,138317,2018-04-04T16:31:00.000Z
4,-77.0417595163018,38.9232931808667,4203052,None,None,None,None,None,None,P281,FAIL TO DISPLAY A MULTISPACE METER RECEIPT,1700 BLOCK COLUMBIA RD NW SOUTH *,MA,None,800405,339,396379,139491,2018-04-04T19:22:00.000Z

In [7]:
#list the columns
dcparking_df.columns

Index(['X', 'Y', 'OBJECTID', 'ROWID_', 'DAY_OF_WEEK', 'HOLIDAY',
       'WEEK_OF_YEAR', 'MONTH_OF_YEAR', 'ISSUE_TIME', 'VIOLATION_CODE',
       'VIOLATION_DESCRIPTION', 'LOCATION', 'RP_PLATE_STATE', 'BODY_STYLE',
       'ADDRESS_ID', 'STREETSEGID', 'XCOORD', 'YCOORD', 'TICKET_ISSUE_DATE'],
      dtype='object')

In [8]:
#set the new columns we want to use.
newdcpark_df = dcparking_df[['X', 'Y', 'VIOLATION_DESCRIPTION','TICKET_ISSUE_DATE' ]]
newdcpark_df.head()

,X,Y,VIOLATION_DESCRIPTION,TICKET_ISSUE_DATE
0,-76.9932,38.8876,NO PARKING STREET CLEANING,2018-04-04T00:00:00.000Z
1,-77.0189,38.8967,NO STOPPING OR STANDING IN PM RUSH HOUR ZONE,2018-04-04T16:08:00.000Z
2,-77.0109,38.9072,NO PARKING STREET CLEANING,2018-04-04T10:04:00.000Z
3,-77.0786,38.9127,PARK WITHIN 20 FEET OF A BUS STOP OR ZONE,2018-04-04T16:31:00.000Z
4,-77.0418,38.9233,FAIL TO DISPLAY A MULTISPACE METER RECEIPT,2018-04-04T19:22:00.000Z

In [9]:
#reload new data after dropping columns from PARKING
newdcpark_df.to_sql(name='PARKING', con=engine, if_exists='replace', index=False)

In [10]:
#confirm new data loaded successfully
pd.read_sql_query('select * from PARKING', con=engine).head(5)

,X,Y,VIOLATION_DESCRIPTION,TICKET_ISSUE_DATE
0,-76.993201829703,38.88760034879,NO PARKING STREET CLEANING,2018-04-04T00:00:00.000Z
1,-77.0189307155777,38.8967425107048,NO STOPPING OR STANDING IN PM RUSH HOUR ZONE,2018-04-04T16:08:00.000Z
2,-77.0108629472506,38.9072472840597,NO PARKING STREET CLEANING,2018-04-04T10:04:00.000Z
3,-77.07856940182,38.9126984450469,PARK WITHIN 20 FEET OF A BUS STOP OR ZONE,2018-04-04T16:31:00.000Z
4,-77.0417595163018,38.9232931808667,FAIL TO DISPLAY A MULTISPACE METER RECEIPT,2018-04-04T19:22:00.000Z

In [11]:
# double check columns
newdcpark_df.columns

Index(['X', 'Y', 'VIOLATION_DESCRIPTION', 'TICKET_ISSUE_DATE'], dtype='object')

In [12]:
#create new columns
newdcpark_df = dcparking_df[['X', 'Y', 'VIOLATION_DESCRIPTION', 'TICKET_ISSUE_DATE']]
newdcpark_df.head()

,X,Y,VIOLATION_DESCRIPTION,TICKET_ISSUE_DATE
0,-76.9932,38.8876,NO PARKING STREET CLEANING,2018-04-04T00:00:00.000Z
1,-77.0189,38.8967,NO STOPPING OR STANDING IN PM RUSH HOUR ZONE,2018-04-04T16:08:00.000Z
2,-77.0109,38.9072,NO PARKING STREET CLEANING,2018-04-04T10:04:00.000Z
3,-77.0786,38.9127,PARK WITHIN 20 FEET OF A BUS STOP OR ZONE,2018-04-04T16:31:00.000Z
4,-77.0418,38.9233,FAIL TO DISPLAY A MULTISPACE METER RECEIPT,2018-04-04T19:22:00.000Z

In [13]:
# clean up date to make it just month and day
dates = []
dates = newdcpark_df['TICKET_ISSUE_DATE'].values
dates [1]

'2018-04-04T16:08:00.000Z'

In [14]:
# get the month

MM = []
for d in dates:
    MM.append(d[5:7])
print(MM)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [15]:
#get the day
DD = []
for d in dates:
    DD.append(d[8:10])
print(DD)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [16]:
#create the MONTH column and populate (you'll get an error but it works)
newdcpark_df["MONTH"]=MM

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [17]:
#create the DAY column and populate (you'll get an error but it works)
newdcpark_df["DAY"]=DD

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [18]:
#create new columns (getting rid of the ticket_issue_date)
finaldcpark_df = newdcpark_df[['X', 'Y', 'VIOLATION_DESCRIPTION', 'MONTH', 'DAY']]
finaldcpark_df.head()

         X        Y                         VIOLATION_DESCRIPTION MONTH DAY
0 -76.9932  38.8876                    NO PARKING STREET CLEANING    04  04
1 -77.0189  38.8967  NO STOPPING OR STANDING IN PM RUSH HOUR ZONE    04  04
2 -77.0109  38.9072                    NO PARKING STREET CLEANING    04  04
3 -77.0786  38.9127     PARK WITHIN 20 FEET OF A BUS STOP OR ZONE    04  04
4 -77.0418  38.9233    FAIL TO DISPLAY A MULTISPACE METER RECEIPT    04  04

In [19]:
#reload new data after dropping columns from Parking
newdcpark_df.to_sql(name='PARKING', con=engine, if_exists='replace', index=False)

In [20]:
#confirm new crimes data loaded successfully
pd.read_sql_query('select * from PARKING', con=engine).head(5)

,X,Y,VIOLATION_DESCRIPTION,TICKET_ISSUE_DATE,MONTH,DAY
0,-76.993201829703,38.88760034879,NO PARKING STREET CLEANING,2018-04-04T00:00:00.000Z,04,04
1,-77.0189307155777,38.8967425107048,NO STOPPING OR STANDING IN PM RUSH HOUR ZONE,2018-04-04T16:08:00.000Z,04,04
2,-77.0108629472506,38.9072472840597,NO PARKING STREET CLEANING,2018-04-04T10:04:00.000Z,04,04
3,-77.07856940182,38.9126984450469,PARK WITHIN 20 FEET OF A BUS STOP OR ZONE,2018-04-04T16:31:00.000Z,04,04
4,-77.0417595163018,38.9232931808667,FAIL TO DISPLAY A MULTISPACE METER RECEIPT,2018-04-04T19:22:00.000Z,04,04